@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,900italic,300italic);
body {
  background-color: white;
  font-family: 'Source Sans Pro';
  color: #2B2B2B;
  font-weight: 300;
  font-size: 16px;
}

a {
  color: #2B2B2B;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
a:hover {
  background-color: #2B2B2B;
  color: white;
  opacity: 0.5;
}

h1, h2, p {
  margin: 0;
}

h1, h2 {
  font-weight: 900;
  font-style: italic;
}

.app {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
}

.homepage {
  width: 100%;
  text-align: right;
  margin: 5px 10px 20px;
}
.homepage a {
  text-decoration: none;
}

.box.title h1 {
  position: relative;
  display: inline-block;
  font-size: 64px;
  line-height: 0.75;
  padding: 4px 5px 12px;
  margin-left: -5px;
  color: white;
  background-color: #99E0FF;
}
.box.title p {
  padding-top: 10px;
}

.box.footer {
  text-align: center;
  font-style: italic;
}

.box {
  width: 350px;
  margin: 25px 30px;
}
.box h2 {
  position: relative;
  display: inline-block;
  line-height: 0.75;
  color: white;
  font-size: 32px;
  padding: 4px;
  margin-left: -4px;
}
.box p {
  margin: 5px 0;
}
.box .links {
  font-style: italic;
}
.box .links a + a {
  margin-left: 20px;
}
.box:hover h1, .box:hover h2 {
  -webkit-animation: glitch 1.8s ease-out;
          animation: glitch 1.8s ease-out;
}
.box:nth-child(5n) h2 {
  background-color: #D39EE8;
}
.box:nth-child(5n+1) h2 {
  background-color: #FFB18C;
}
.box:nth-child(5n+2) h2 {
  background-color: #99E0FF;
}
.box:nth-child(5n+3) h2 {
  background-color: #86E86D;
}
.box:nth-child(5n+4) h2 {
  background-color: #FFD36E;
}

@-webkit-keyframes glitch {
  from {
    -webkit-filter: none;
            filter: none;
  }
  20% {
    -webkit-filter: blur(2px);
            filter: blur(2px);
  }
  to {
    -webkit-filter: none;
            filter: none;
  }
}

@keyframes glitch {
  from {
    -webkit-filter: none;
            filter: none;
  }
  20% {
    -webkit-filter: blur(2px);
            filter: blur(2px);
  }
  to {
    -webkit-filter: none;
            filter: none;
  }
}
