{
  "presets": [
    ["es2015", { "modules": false }],
    "react",
    ["env", { "modules": false }]
  ],
  "plugins": [
    "react-hot-loader/babel",
    ["module-resolver", {
      "root": ["."],
      "alias": {
          "react": "preact-compat",
          "react-dom": "preact-compat",
      }
    }]
  ]
}
