@import url(https://fonts.googleapis.com/css?family=Inconsolata);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400italic);

body {
  background-color: white;
  margin: 0;
}

.container {
  position: fixed;
}

$card-height: 320;
$card-width: $card-height * (2/3.5);
$offset: ($card-height - $card-width) / 2;

.card-plane {
  position: absolute;
  width: $card-width + px;
  height: $card-height + px;
  margin: 50px calc(50vw -  #{$card-width / 2 + px});
  .card-face {
    width: 100%;
    height: 100%;
    position: absolute;

    &.front {
      background-color: black;
      color: white;
      font-style: italic;
      font-family: 'Playfair Display', Serif;
      .title {
        font-size: 21px;
        padding: 22px 22px;
        hr {
          margin: 7px 0;
        }
      }
      .scroll {
        position: absolute;
        text-align: center;
        width: 100%;
        color: #7D7D7D;
        bottom: -30px;
        font-size: 12px;
      }
    }

    &.back {
      color: white;
      background-color: #FD556F;
      /* reversed for the back of the card */
      width: $card-height + px;
      height: $card-width + px;
      transform: rotateZ(90deg) rotateX(180deg) translate3d($offset+px, -$offset+px, 0px);
    }
  }
}

.back-text {
  position: fixed;
  left: calc(50vw -  #{$card-width + px} + 40px);
  top: 90px;
  font-family: Inconsolata, monospace;
  color: white;
  font-size: 14px;
  width: 300px;
}

.arrow {
  font-size: 24px;
  font-family: 'Times New Roman', serif;
  position: fixed;
  text-align: center;
  width: 100%;
  top: $card-height + px;
}
