html,body {
  font-family: 'Lato', 'Helvetica', sans-serif;
  font-weight: 300;
  height: 100%;
  margin: 0px;
  background-color: #2285C5;
  color: white;
  font-size: 1.15em;
  overflow-x: hidden;
}

#header{
  background-color: #3F454C;
  font-family: 'Lobster', cursive;
  border-bottom: 2px white dashed;
  
  h1 {
    color: #F47D67;
    font-weight: normal;
    margin: 0px;
    text-align: center;
    font-size: 6.2em;
    margin-bottom: -3px;
    margin-top: -10px;
  }

}

.block{
  width: 300px;
  display: inline-block;
  position: relative;
  text-align: left;
  clear: both;
}

.page{
  width: 100%;
  text-align: center;
}

#main{
  margin-top: 20px;
  line-height: 1.4em;
}

.text{
  margin-top: 10px;
  margin-bottom: 10px;
}

.center{
    text-align: center;
}

/* tooltip */

a{
    outline:none;
    text-decoration: none;
    color: white;
    background-color:rgba(255,255,255,0.05);
}

a:hover {
    text-decoration:none;
    background-color:#3F454C;
} 

a.tooltip span {
    display:none;
    z-index:10;
    padding: 10px 10px 10px 15px; /* top, right, bottom, left */
    width: 495px;
    text-align: left;
    position:fixed;
    right: 0px;
    background-color:#F47D67;
    border-radius: 10px 0px 0px 10px; /* top left, top right, bottom right, bottom left */
}

/*a.tooltip span{*/
a.tooltip:hover span{
    display:inline;
}

/* end tooltip */

@media only screen and (max-width: 1300px){
  a.tooltip span {
    width: 295px;
  }
}

@media only screen and (max-width: 900px){
  a.tooltip span {
    width: auto;
  }
}

@media only screen and (max-width: 480px), only screen and (max-device-width : 600px) { 
  .text{
    border: 0em;
    padding: 0em;
  }

  .block{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }

  a.tooltip:hover span{
    display: none;
  }

  a.hoveronly{
    background-color: rgba(255,255,255,0);
  }
}