html {
  background-color: #f9f9f9;
  font-family: Helvetica Neue, Arial, sans-serif;
}

body {
  margin: 0;
  overflow-x: hidden;
}

body ::selection {
  color: black;
  background: rgba(255, 247, 0, 0.95);
}

.skip {
  position: absolute;
  top: -40px;
}

.skip:focus {
  z-index: 1;
  font-size: 6vw;
  top: 0;
}

.app {
  background-color: #f9f9f9;
}

.container {
  position: fixed;
  width: 100%;
}

.card-plane {
  position: absolute;
  width: 182px;
  height: 320px;
  margin: 50px calc(50vw - 91px);
}
.card-face {
  width: 100%;
  height: 100%;
  position: absolute;
}
.front {
  background-color: hsla(314, 41%, 10%, 1);
  color: white;
  font-style: italic;
  font-family: "Baskerville", "Times New Roman", "Droid Serif", "Times", serif;
}
.title {
  font-size: 22px;
  padding: 17px 11px;
}
hr {
  border-style: solid;
  margin: 15px 0;
  color: inherit;
}
.scroll {
  position: absolute;
  text-align: center;
  width: 100%;
  color: #717171;
  bottom: -30px;
  font-size: 16px;
}
.back {
  /* reversed for the back of the card */
  background-color: hsla(314, 41%, 10%, 1);
  width: 320px;
  height: 182px;
  -webkit-transform: rotateZ(90deg) rotateX(180deg)
    translate3d(68.5px, -68.5px, 0px);
  transform: rotateZ(90deg) rotateX(180deg) translate3d(68.5px, -68.5px, 0px);
}

.arrow {
  font-size: 24px;
  font-family: "Times New Roman", serif;
  position: fixed;
  text-align: center;
  width: 100%;
  top: 320px;
}

#back-content {
  color: hsl(195, 0%, 92%);
  width: 95vmin;
  margin: calc(1.8 * (2.6vmin + 1.1vh)) auto 0;
  position: relative;
}

p {
  font-size: calc(0.95 * (2.6vmin + 1.1vh));
  line-height: 1.23;
  margin: calc(0.7 * (2.6vmin + 1.1vh)) 0;
}

a {
  color: inherit;
}

button {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
  overflow: visible;
  padding: 0;
  text-decoration: underline;
  text-transform: none;
  background: none;
  border: none;
  cursor: pointer;
}

a:hover,
a:focus,
button:focus,
button:hover {
  background: -webkit-linear-gradient(50deg, #7830cf, #cf3030);
  text-decoration: none;
  color: white;
}

p {
  font-size: calc(2.8vmin + 1.1vh);
  line-height: 1.23;
  margin: calc(0.8 * (2.6vmin + 1.1vh)) 0;
}

.hidden {
  opacity: 0 !important;
}
