:root {
  --color-a: #7830cf;
  --color-b: #ab32d9;
  --color-c: #c236c2;
  --color-d: #d93285;
  --color-e: #cf3030;
  --color-whitish: #f2f2f2;
  --color-blackish: #240f1f;
  --color-highlight: var(--color-d);
}

html {
  font-family: Helvetica Neue, Arial, sans-serif;
  background-color: var(--color-highlight);
}

body {
  margin: 0;
  background-color: var(--color-whitish);
  overflow-x: hidden;
}

body ::selection {
  color: var(--color-blackish);
  background-color: var(--color-highlight);
}

.skip {
  position: fixed;
  top: -100%;
  left: 0;
}

.skip:focus {
  z-index: 2;
  font-size: 6vw;
  top: 0;
  transform: none;
}

.app {
  background-color: var(--color-whitish);
}

.container {
  position: fixed;
  width: 100%;
}

.card-plane {
  position: absolute;
  width: 182px;
  height: 320px;
  margin: 50px calc(50vw - 91px);
}

.card-face {
  width: 100%;
  height: 100%;
  position: absolute;
}

.front {
  background-color: var(--color-blackish);
  color: var(--color-whitish);
  font-style: italic;
  font-family: "Baskerville", "Times New Roman", "Droid Serif", "Times", serif;
}

.title {
  font-size: 22px;
  padding: 17px 11px;
}

.Opener {
  font-weight: 700;
}

hr {
  border-style: solid;
  margin: 15px 0;
  color: inherit;
}

.scroll {
  position: absolute;
  text-align: center;
  width: 100%;
  color: var(--color-blackish);
  bottom: -30px;
  font-size: 16px;
}

.arrow {
  font-size: 24px;
  font-family: "Times New Roman", serif;
  position: fixed;
  text-align: center;
  width: 100%;
  top: 320px;
}

.back {
  color: var(--color-whitish);
  width: 95vmin;
  margin: calc(1.8 * (2.6vmin + 1.1vh)) auto 0;
  position: relative;
}

a {
  color: inherit;
  display: inline-block;
}

a:hover,
a:focus {
  background: -webkit-linear-gradient(50deg, var(--color-a), var(--color-e));
  color: var(--color-whitish);
  text-decoration: none;
  transform: scale(2.5, 1.1);
}

p {
  font-size: calc(2.8vmin + 1.1vh);
  line-height: 1.25;
  margin: calc(0.8 * (2.6vmin + 1.1vh)) 0;
}

.hidden {
  opacity: 0 !important;
}
