<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" ng-app="timestampApp">

<head>
	<title>timestamp</title>	
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js"></script>
	<script src="script.js"></script>

	<link href='http://fonts.googleapis.com/css?family=Anonymous+Pro' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="style.css">

	<!-- favicons -->
	<link rel="shortcut icon" href="../img/favicon.ico">
	<link rel="icon" sizes="16x16 32x32 64x64" href="../img/favicon.ico">
	<link rel="icon" type="image/png" sizes="196x196" href="../img/favicon-196.png">
	<link rel="icon" type="image/png" sizes="160x160" href="../img/favicon-160.png">
	<link rel="icon" type="image/png" sizes="96x96" href="../img/favicon-96.png">
	<link rel="icon" type="image/png" sizes="64x64" href="../img/favicon-64.png">
	<link rel="icon" type="image/png" sizes="32x32" href="../img/favicon-32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="../img/favicon-16.png">
	<link rel="apple-touch-icon" sizes="152x152" href="../img/favicon-152.png">
	<link rel="apple-touch-icon" sizes="144x144" href="../img/favicon-144.png">
	<link rel="apple-touch-icon" sizes="120x120" href="../img/favicon-120.png">
	<link rel="apple-touch-icon" sizes="114x114" href="../img/favicon-114.png">
	<link rel="apple-touch-icon" sizes="76x76" href="../img/favicon-76.png">
	<link rel="apple-touch-icon" sizes="72x72" href="../img/favicon-72.png">
	<link rel="apple-touch-icon" href="../img/favicon-57.png">
	<meta name="msapplication-TileColor" content="#FFFFFF">
	<meta name="msapplication-TileImage" content="../img/favicon-144.png">
	<meta name="msapplication-config" content="../img/browserconfig.xml">
</head>

<body ng-controller="MainCtrl">
	<div id='headline'>
		<span ng-repeat='char in timestampArray track by $index'
			ng-click='getInfo($index)'
			ng-mouseover='getInfo($index)'
			>{{char}}</span>
	</div>
	<div id='info'>
		{{info}}
	</div>
</body>

</html>