div {
	margin: 0px;
	padding: 0px;
}

body {
	font-family: 'Raleway', sans-serif;
	color: white;
	text-align: center;
	background-color: #053F38;
}

#timestamp {
	font-family: 'Anonymous Pro', monospace;
	font-size: 10em;
	font-weight: bold;
	background-color: white;
	color: #053F38;
	margin-top: 10px;
}

.char{
	border-width: 10px;
	border-left-width: 0px;
	border-right-width: 0px;
	border-style: solid;
	border-color: transparent;
}

.active {
	border-color: white;
	border-bottom-color: white;
}

#info {
	font-size: 2em;
}

#footer{
	position: fixed;
	bottom: 0%;
	width: 100%;
}

