h1, h2, h3, h4{
	font-weight:normal !important;
	margin: 0;
	padding: 0;
}

body {
	background-color: white;
	color: black;
	font-family: 'Raleway', sans-serif;
	padding: 0px;
	margin: 0px; 
	-webkit-font-smoothing: antialiased !important;
	-moz-osx-font-smoothing: grayscale !important;
}

#main{
	margin: 0 auto;
	max-width: 560px;
	padding: 0;
}

.char{
	font-family: "Georgia", "Apple Symbols", serif;
}

.box{
	margin: 10px;
	padding: 10px;
	color: white;
	background-color: #0CDBE8;
	text-align: center;
	width: 100px;
	height: 100px;
	border-radius: 20px;
	float: left;
}

.search-header{
	text-align: center;
	font-size: 2em;
}

input{
	font-family: inherit;
	font-size: 1em;
	border: none;
	width: 400px;
	text-align: center;
}

@media only screen and (max-width: 560px){
	#main{
		max-width: 420px;
	}
}