h1, h2, h3, h4{
	font-weight:normal !important;
	margin: 0;
	padding: 0;
}

h1#heading{
	margin-top: 10px;
	margin-bottom: 10px;
}

body {
	background-color: white;
	color: black;
	font-family: "Raleway", sans-serif;
	padding: 0px;
	margin: 0px;
	text-align: center;
	-webkit-font-smoothing: antialiased !important;
	-moz-osx-font-smoothing: grayscale !important;
}

div#main{
	margin: 0 auto;
	max-width: 560px;
	padding: 0;
}

div.box{
	margin: 10px;
	padding: 10px;
	color: white;
	background-color: #0CDBE8;
	width: 100px;
	height: 100px;
	border-radius: 20px;
	float: left;
	position: relative;
}

div.box:hover{
	background-color: #3D4C53;
	/*height: 240px;*/
}

div.box .details{
	display: none;
	padding: 10px;
	color: white;
	background-color: #3D4C53;
	width: 100px;
	height: 240px;
	border-radius: 20px;
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 100;
	background-color: #3D4C53;
}

div.box:hover .details{
	display: inherit;
}

div.box:hover h1.display{
	font-size: 4em;
}

div.search-header{
	font-size: 2em;
}

input{
	font-family: inherit;
	text-align: center;
	font-size: 1em;
	border: none;
	width: 400px;
	border: 2px solid #EEEEEE;
	border-radius: 20px;
	margin-top: 20px;
}

input:focus, input.focus{
	border-color: black;
	outline: none;
}

h1.display{
	font-family: "Raleway", "Georgia", "Apple Symbols", serif;
	font-size: 5em;
}

div#about-search{
	font-size: 0.5em;
	color: #555555;
}

div.about-results{
	margin-top: 20px;
	margin-bottom: 20px;
	clear: both;
}

div#footer{
	padding-top: 100px;
	padding-bottom: 100px;
}

a {
	cursor: pointer;
	text-decoration: underline;
}

a:hover {
	color: white;
	background-color: black;
	text-decoration: none;
}

.clear-button {
	cursor: pointer;
	color:  #EEEEEE;
}

.displayed {
	display: inline;
	color: inherit;
}

.mobile-only{
	display: none;
}

/* small desktops */
@media only screen and (max-width: 560px){
	div#main{
		max-width: 420px;
		width: 420px;
	}
}

/* mobile */
@media only screen and (max-device-width : 640px) {
	body{
		font-size: 2em;
	}

	div#main {
		max-width: 960px;
	}
	
	div.search-header{
		font-size: 2em;
	}
	
	h1.display{
		font-size: 5em;
	}
	
	div.box{
		width: 280px;
		height: 280px;
	}

	div.about{
		font-size: 1.5em;
	}

	input{
		width: 80%;
		border-radius: 100px;
		border-width: 4px;
	}

	.mobile-only{
		display: inherit;
	}

}
